<!--

Reference: http://ruby.railstutorial.org/ruby-on-rails-tutorial-book
Reference: http://http://twitter.github.io/bootstrap/index.html

-->
<div class="hero-unit">
<% provide(:title, "Sign in") %>

  <small>
    <%= image_tag("PlanWeb.jpg") %>
  </small>

  <br/>

<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
</div>
