<div class="hero-unit">

<small>
  <%= image_tag("PlanWeb.jpg") %>
</small>

<br/>

<h1>The Web technologies that PlanWeb like:</h1>

<br/>

<!--

Reference: http://ruby.railstutorial.org/ruby-on-rails-tutorial-book
Reference: http://http://twitter.github.io/bootstrap/index.html

-->

<div class="center hero-unit">

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <center>
      <div class="item active"><%= image_tag("HTML5_Logo_512.png") %></div>
      <div class="item"><%= image_tag("css3.png") %></div>
      <div class="item"><%= image_tag("JavaScript-Logo.png") %></div>
      <div class="item"><%= image_tag("jquery_logo.jpg") %></div>
      <div class="item"><%= image_tag("rubyonrails.jpg") %></div>
      <div class="item"><%= image_tag("logo_asp.net_201.png") %></div>
    </center>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

<h2><b>Planweb presently enjoy using the following Web Technologies:</b></h2>


<ul>
  <h2>
  <li>HTML 5</li>
    <br/>
  <li>CSS 3</li>
    <br/>
  <li>JavaScript</li>
    <br/>
  <li>jQuery</li>
    <br/>
  <li>Ruby and Rails</li>
    <br/>
  <li>Microsoft Visual Studio 2010 - ASP.net (Emphasis on Visual Basic)</li>
  </h2>
</ul>


</div>

